body{
    margin: 0px;
    background-color: #090933;
    flex-direction: column;
    color: #DBDBFA;
    min-height: 100vh;
}
#cuerpo{
    transition: margin-left .5s;
    
}
#contenedor1 {
    display: flex;
    flex-direction: row;
    color: #090933;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #090933;
    color: #DBDBFA;
    text-align: center;
    border-top: solid 1px #DBDBFA;
}
#cabecera{
    min-height: 70px;
    font-size: 25px;
    display: flex;
}
h1{
    position: relative;
    left: 200px;
}

.menu-lateral {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0; /*empieza desde la izquierda*/
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the menu-lateral */
}
/* The navigation menu links */
.menu-lateral a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.menu-lateral a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.menu-lateral .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#menu-lateral span{
    height: 40px;
    width: 40px;
}

#contenido-principal{
    background-color: #DBDBFA;
    padding-left: 40px;
    margin: 30px;
    border: solid 1px #090933;
    border-radius: 5px;
    color: #090933;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 150px;
}


/*boton para abrir el menú lateral*/
.botonMenu, #botonMenu {
    display: block;
    position: relative;
    top: 11px;
    left: 13px;
    cursor: pointer;
}
.botonMenuAux{
    position: relative;
    top: 35px;
    left: -200px;
    height: 60px;
    width: 60px;
}
.botonMenuAux:hover{
    border: 1px solid #2E2EE3;
    border-radius: 30px;
    background-color: #2E2EE3;
    cursor: pointer;
}
/*creamos las barras del menú*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #DBDBFA;
    margin: 6px 0;
    transition: 0.5s;
}

/* CONTENIDO DE LOS OBJETOS */
/* CONTENIDO DE LOS OBJETOS */
/* CONTENIDO DE LOS OBJETOS */
#contenido-principal table{
    width: 100%;
}
#contenido-principalh2{
    font-size: 35px;
}
#contenido-principal th, #contenido-principal td, #contenido-principal tr{
    width: 20%;
    height: 35px;
    text-align: left;
    font-size: 20px;
}
#contenido-principal th{
    font-size: 25px;
}

#alumnos{
    display: block;
}
#empresa{
    display: none;
}
#profesores{
    display: none;
}
#asignacion{
    display: none;
}
#actividades{
    display: none;
}


/* BOTON DESPLEGABLE */
/* BOTON DESPLEGABLE */
/* BOTON DESPLEGABLE */
.btn {
  background-color: #DBDBFA;
  color: #090933;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  padding-right: 33px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: -184px;
  left: 1px;
  background-color: #DBDBFA;
  min-width: 162px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2E2EE3; cursor: pointer; color: #DBDBFA;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #2E2EE3;
  cursor: pointer;
  color: #DBDBFA;
}
.btn i {
    margin-right: 30px;
    padding-left: 10px;
}
.botonAux{
    position: fixed;
    margin: auto;
    width: 200px;
    position: absolute;
    bottom: 100px;
    left: 5%;
}
#botonAux{
    display: flex;
}

/* The Modal (background) */
/* The Modal (background) */
/* The Modal (background) */
#modalEstudiante, #modalEmpresa, #modalProfesor, #modalAsignacion, #modalActividades{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
#modalEstudiante{
    display: none;
}
#modalEmpresa{
    display: none;
}
#modalProfesor{
    display: none;
}
#modalAsignacion{
    display: none;
}
#modalActividades{
    display: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: #DBDBFA;
    color: #090933;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#actividades #tablaActividadesCabecera, #actividades #tablaActividadesCuerpo{
    border: 1px solid #090933;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}
.actividades #tablaActividadesCabecera{
    margin-bottom: 30px;
}
#tablaActividadesCabecera td, #tablaActividadesCuerpo td{
    border: solid 1px #090933;
}
#tablaActividadesCabecera #dia1Actividades, #tablaActividadesCabecera #añoActividades, #tablaActividadesCabecera #dia2Actividades{
    width: 50px;
}
#tablaActividadesCuerpo td{
    text-align: center;
    height: 70px;
}
#tablaActividadesCuerpo .tdCabeceraActividadesCuerpo{
    width: 7%;
}
#tablaActividadesCuerpo input{
    width: 90%;
    height: 90%;
    text-align: center;
    padding-left: 10px;
}
#alumnoActividades, #tutorEmpresaActividades, #profesorActividades, #centroDocenteActividades, #centroTrabajoActividades{
    width: 60%;
}
#tablaActividadesCuerpo input, #tablaActividadesCabecera input{
    border: none;
    background-color: rgba(188, 222, 226, 0.842);
}
#modalActividades form {
   text-align: center; 
}
#actividades form button{
    width: 200px;
    height: 60px;
    background-color: #090933;
    color: #DBDBFA;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
}
form button:hover{
    cursor: pointer;
    background-color: #2E2EE3;
    color: #DBDBFA;
}
#actividades h3{
    font-size: 25px;
}
#modalEstudiante form{
    font-size: 20px;
    flex-direction: column;
    text-align: center;
}
#modalEstudiante form input, #modalProfesor form input{
    background-color: #090933;
    border-radius: 5px;
    height: 20px;
    color: #DBDBFA;
    margin-bottom: 30px;
    padding-left: 10px;
}
#modalEstudiante button{
    width: 500px;
    height: 50px;
    background-color: #090933;
    color: #DBDBFA;
    border-radius: 10px;
}
#modalEstudiante button:hover{
    cursor: pointer;
    background-color: #2E2EE3;
    color: #DBDBFA;
}
form #tablaActividadesCabecera span{
    width: 50px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #090933;
    background-color: #090933;
    color: #DBDBFA;
    border-radius: 10px;
}

form #tablaActividadesCabecera span:hover{
    cursor: pointer;
}
#modalEmpresa form{
    flex-direction: column;
    display: flex;
    width: 80%;
    margin: auto;
}
#modalEmpresa form #divEmpresa3, #modalEmpresa form #divEmpresa4{
    display: flex;
}
#modalEmpresa form #divEmpresa4{
    text-align: center;
    flex-direction: row;
}
#modalEmpresa form #divEmpresa1, #modalEmpresa form #divEmpresa2{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#modalEmpresa label{
    display: flex;
    flex-direction: column;
}
#modalEmpresa input{
    height: 30px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #DBDBFA;
    background-color: #090933;
    border-radius: 7px;
    padding-left: 10px;
}
#divEmpresa3 {
    width: 500px;
    height: 50px;
    margin: auto;
}
#divEmpresa3 button{
    width: 100%;
    height: 100%;
    background-color: #090933;
    color: #DBDBFA;
    border-radius: 10px;
}
#divEmpresa3 button:hover{
    cursor: pointer;
    background-color: #2E2EE3;
    color: #DBDBFA;
}
#divEmpresa4{
    font-size: 20px;
}
#modalProfesor button{
    width: 500px;
    height: 50px;
    background-color: #090933;
    color: #DBDBFA;
    border-radius: 10px;
}
#modalProfesor button:hover{
    cursor: pointer;
    background-color: #2E2EE3;
    color: #DBDBFA;
}